* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.5rem;
    max-width: 100vw;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url("./eevolutions.webp");
    background-position: top;
    background-repeat: repeat-x;
}

h1 {
    margin: 10% 0;
}

h1, h2 {
    background: rgba(255,255,255,0.75);
    border-radius: 1rem;
}

.h2-monselect {
    margin: 1rem 0;
    padding: 0.5rem;
}

#mon-select {
    width: 100%;
    max-width: 1280px;
}

#mon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

#mon-container .mon-card {
    max-width: 26rem;
}

[class^="label-"] {
    border-radius: 1rem;
    padding: 0.9rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

[class^="label-"]:hover {
    background: gold;
}

[id$="-stats"], [id$="-moves"]  {
    opacity: 0;
    transition: opacity 1s;
}

[class^="label-"]:hover [id$="-stats"]  {
    opacity: initial;
}

.mon-imgcontainer {
    width: 10rem;
    height: 10rem;
    max-width: 20rem;
    max-height: 20rem;
    border-radius: 50%;
    padding: 0.1rem;
}

.mon-img1 {
    border: dashed 2px red;
}

.mon-img2 {
    border: dashed 2px blue;
}

.plagiomon-img, #p1-img, #p2-img {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.plagiomon-radio:checked ~ label {
    border: dashed 2px black;
}

.plagiomon-radio:checked ~ label [id$="-stats"], .plagiomon-radio:checked ~ label [id$="-moves"] {
    opacity: initial;
}

.label-_3Maceta {
    background: lightgreen;
}

._3Maceta:checked ~ .label-_3Maceta {
    background: green;
}

.label-_6Kakuchin {
    background: lightcoral;
    /* margin: 0 1.25vw; */
}

._6Kakuchin:checked ~ .label-_6Kakuchin {
    background: red;
}

.label-_25Shikapu {
    background: yellow;
    /* margin: 0 1.25vw; */
}

._25Shikapu:checked ~ .label-_25Shikapu {
    background: goldenrod;
}

.label-_65Shazakazam {
    background: pink;
    /* margin: 0 1.25vw; */
}

._65Shazakazam:checked ~ .label-_65Shazakazam {
    background: deeppink;
}

.label-_68Cuatrobiceps {
    background: orange;
}

._68Cuatrobiceps:checked ~ .label-_68Cuatrobiceps {
    background: darkorange;
}

.label-_248Rockzilla {
    background: lightgray;
    /* margin: 0 1.25vw; */
}

._248Rockzilla:checked ~ .label-_248Rockzilla {
    background: darkgray;
}

.label-_658Gexninja, .label-_9Pochoclo {
    background: lightblue;
}

._658Gexninja:checked ~ .label-_658Gexninja, ._9Pochoclo:checked ~ .label-_9Pochoclo {
    background: blue;
}

.button-select {
    background: orange;
    border-radius: 5rem;
    color: #000;
    padding: 0.75rem 1.5rem;
    margin: 0.4rem 0;
}

.button-select:hover {
    background: #000;
    color: orange;
    font-weight: bold;
}

#p1-info, #p2-info {
    margin: 1vh auto 0;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p1-mon-status, .p2-mon-status {
    min-width: 10rem;
    text-align: center;
}

#p1-hpbar, #p2-hpbar {
    width: 10rem;
    height: 1rem;
    border-radius: 1rem;
    margin-right: auto;
    transition: width 1s;
}

#map-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#map-title, #map {
    grid-column: 1/4;
    justify-self: center;
    /* min-width: 200px;
    width: 95vw;
    max-width: 1280px;
    max-height: 1024px; */
}

#map-section #map {
    border: solid 1px black;
}

#map-section #arrowUp {
    grid-column: 1/4;
    display: block;
    width: 33.333333%;
    justify-self: center;
}

#moves-section-hider {
    width: 100%;
}

#moves-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#moves-section #attackinfo {
    border-radius: 5rem;
    padding: 0.4rem 0.8rem;
    margin-top: 0.8rem;

}

#moves-section #attackinfo:hover {
    filter:invert(1);

}

#moves-section #move-container {
    /* display: flex;
    justify-content: center;*/
    margin: 1vh 0;
    width: 100%;
    max-width: 48rem;
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(10%, 45%) minmax(10%, 45%);
    gap: 0.5rem;
}

#moves-section .move-label {
    background: lightgray;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 24rem;
}

#moves-section .move-label:hover {
    background: gray;
    font-weight: bold;
    border: dashed 1px black;
}

#moves-section .move-input:checked ~ .move-label {
    filter:saturate(500%) !important;
    font-weight: bold;
}

#moves-section .move-label .move-text {
    width: 100%;
    height: 100%;
}

#moves-section .move-label .move-subtext {
    font-size: 1.2rem;
}

#moves-section #attacknow {
    margin: 0 0 0.8rem 0;
}

#messages #upper-message-box {
    border: dashed 2px red;
}

#messages #lower-message-box {
    border: dashed 2px blue;
    margin: 1vh 0;
}

@media (min-width: 300px) {
    body {
        font-size: 1.6rem;
    }
    #mon-container .mon-card, .mon-imgcontainer {
        width: 14rem;
    }
}

@media (min-width: 400px) {
    body, #p1-info, #p2-info, #stabtext {
        font-size: 1.8rem;
    }
    #mon-container .mon-card, .mon-imgcontainer {
        width: 36vw;
    }
}

@media (min-width: 640px) {
    #mon-container .mon-card {
        width: 29%;
    }
}